<div class="header">
    <a (click)="navToggle()">
        <div class="res-nav" [ngClass]="{'open' : navShow}">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
</div>


<div *ngIf="navShow" class="main-navigation" [ngClass]="{'open' : navShow}">
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active-nav-selection">Home</a>
    <a>Workshop</a>
    <a routerLink="/journal" routerLinkActive="active-nav-selection">Journal</a>
  </div>
</div>