<div class="header">
    <div class="site-title">Est.1992</div>

    <a (click)="navToggle()">
        <div class="res-nav" [ngClass]="{'open' : navShow}">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
</div>

<div *ngIf="navShow" class="main-navigation" [ngClass]="{'open' : navShow}">
  <div class="nav-links">
        <a routerLink="/home" routerLinkActive="active-nav-selection">Home</a>
        <a>Workshop</a>
        <a>Journal</a>
  </div>
</div>