@import '../../styles.scss';

.header {
  width: $est-percent-100;
  margin-bottom: 5em;
  position: fixed;
  z-index: 99999;
  
  .res-nav {
    width: 30px;
    height: 30px;
    position: fixed;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    top: 2em;
    right: 2em;
    z-index: 999999;
  
    span {
      background: $black;
      border-radius: 9px;
      display: block;
      position: absolute;
      height: 3px;
      width: $est-percent-100;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
  
    span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  
    span:nth-child(2) {
      top: 9px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  
    span:nth-child(3) {
      top: 18px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  
    &.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -4px;
      left: 8px;
    }
  
    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
  
    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 17px;
      left: 7px;
    }
  }
  
  a.hamburguesa {
    background: none !important;

    &:hover {
      box-shadow: none;
    }
  }
}
  
.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: $est-percent-100;
  height: $est-percent-100;
  background: $white;
  z-index: 99998;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: top 0.5s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: top 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: top 0.5s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: top 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: top 0.5s cubic-bezier(0, 0, 0.2, 1);

  &.open {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }
  
  a {
    text-decoration: none;
    margin-right: 0.4em;
    font-size: 2.3em;
  
    &:hover {
      color: $black;
      box-shadow:
        1px 1px $black,
        2px 2px $black,
        3px 3px $black;
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }

  
    &.active-nav-selection {
      color: $light-grey;
      background: $white;

      &:hover {
        background: none;
        box-shadow: none;
        cursor: default;
      }
    }
  }
}

@media (max-width: 630px) {
  .main-navigation.open {
    display: flex;
    flex-wrap: wrap;
    visibility: visible;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }
  .main-navigation {
    .nav-links{ 
      a {
        display: block;
        margin-bottom: 1em;
        text-align: center;
        width: $est-percent-100;
      }
    }
  }
}