<div class="header">
    <a (click)="navToggle()" class="hamburguesa">
        <div class="res-nav" [ngClass]="{'open' : navShow}">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
</div>


<div *ngIf="navShow" class="main-navigation" [ngClass]="{'open' : navShow}">
  <div class="nav-links">
    <a routerLink="/home" routerLinkActive="active-nav-selection" (click)="navToggle()">Home</a>
    <a routerLink="/workshop" routerLinkActive="active-nav-selection" (click)="navToggle()">Workshop</a>
    <a href="https://elijahtownsend.blogspot.com/" target="_blank">Journal</a>
  </div>
</div>