<est-project-entry
  projectTitle="What Is Cycling"
  projectLink="https://www.whatiscycling.com/"
  projectLinkName="whatiscycling.com"
  projectYear="2021"
>
  <ul class="color-scheme-list">
    <li style="background: #000"></li>
    <li style="background: #fff"></li>
    <li style="background: #002aff"></li>
  </ul>
</est-project-entry>
      
<div class="clear"></div>

<div class="row">
  <p class="entry">
    What Is Cycling is a multi episode video series that features individual cyclist around the community and the different types of riding that makes them unique.
  </p>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/MgS8FlIcBQQ" title="What Is Cycling Episode 0012" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  <p>
    What Is Cycling is not just a video series but a community project that I started to hopefully make cycling all inclusive so that everyone feels welcome and not intimidated. I heard a saying that goes like this, "if you are in a community, be apart of the community." Cycling is my community and this is how I want to help out with the community. It is simple, when I bike, I am going around and meeting people along the way and asking them different sets of questions: 
  </p>

  <ol>
    <li>Name? Where are you located? How long you have been riding?</li>
    <li>What is your favorite type of riding?</li>
    <li>What is cycling to you?</li>
    <li>What advice would you give to someone getting started?</li>
    <li>Specialty question depending on rider</li>
  </ol>

  <ul class="no-bullet">
    <li>Instagram: <a href="https://www.instagram.com/whatiscycling/" target="_blank">@whatiscycling</a></li> 
    <li>YouTube: <a href="https://www.youtube.com/channel/UCsbPd9s44lhhxquSF6PQHUw" target="_blank">What Is Cycling</a></li>
    <li>Facebook: <a href="https://www.facebook.com/whatiscycling" target="_blank">/whatiscycling</a></li>
    <li>Twitter: <a href="https://twitter.com/whatiscycling" target="_blank">@whatiscycling</a></li>
    <li>Website: <a href="https://www.whatiscycling.com/" target="_blank">whatiscycling.com</a></li>
    <li>Email: <a href="mailto:whatiscycling@gmail.com">whatiscycling@gmail.com</a></li>
  </ul>

  <p>
    A new feature of What Is Cycling is the cycling specific job board. Whether you want to find a job for a race team, a local bike shop, your favorite brands or a change of scenery, you can bridge the gap with your passion and professional career. Check out the job board <a href="https://www.whatiscycling.com/job-board" target="_blank">here</a>.
  </p>

  <img src="/assets/images/what-is-cycling/whatiscycling1.png" alt="what is cycling one" class="max-img" />
  <img src="/assets/images/what-is-cycling/whatiscycling2.png" alt="what is cycling two" />
  <img src="/assets/images/what-is-cycling/whatiscycling3.png" alt="what is cycling three" />
  <img src="/assets/images/what-is-cycling/whatiscycling4.png" alt="what is cycling four" />
</div>