<blog-header postTitle="Code For Winston-Salem"></blog-header>

<div class="row">
  <div class="small-12 columns blog-content">
    <p>As my friend and I started the organization Code For Winston-Salem, I created a logo to showcase our organization. The logo highlights some of the recognizable skyline in Winston Salem and has two curly brackets to resemble coding syntax. What do you think?</p>
    
    <img src="../../assets/images/dribbble-cfws.png" alt="code for winston-salem logo" />
  </div>
</div>