<div class="row">
  <div class="twelve columns">
    <h1 class="center">Journal</h1>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <est-blog-blurb
      blogTitle="Future Proof Your Company"
      blogDate="March 27, 2020"
      blogBlurb="Not even five years ago I was designing mobile-first applications with the idea"
      blogLink="blog/work-remote.html"
    ></est-blog-blurb>

    <est-blog-blurb
      blogTitle="Flexbox Responsive Navigation"
      blogDate="October 16, 2017"
      blogBlurb="This is a story all about how my life got flipped turned upside down … Actually, it is not. This post is"
      blogLink="blog/work-remote.html"
    ></est-blog-blurb>
    
    <est-blog-blurb
      blogTitle="Border-Left: Required;"
      blogDate="August 8, 2017"
      blogBlurb="Using Border-Left to display required, success and errors Have you ever viewed a website with chicken pox?"
      blogLink="blog/work-remote.html"
    ></est-blog-blurb>
    
    <est-blog-blurb
      blogTitle="Code For Winston-Salem"
      blogDate="July 19, 2017"
      blogBlurb="As my friend and I started the organization Code For Winston Salem, I created a logo"
      blogLink="blog/work-remote.html"
    ></est-blog-blurb>
  </div>
</div>