<est-project-entry
  projectTitle="BB&T"
  projectLink="http://bbt.com"
  projectLinkName="BB&T Now Truist"
  projectYear="2019"
>
  <ul class="color-scheme-list">
    <li style="background: #670022"></li>
    <li style="background: #ffc107"></li>
    <li style="background: #221f1f"></li>
  </ul>
</est-project-entry>
      
<div class="clear"></div>

<div class="row">
  <p class="entry">
    BB&amp;T (Branch Banking &amp; Trust), now known as <a href="https://www.truist.com/" target="_blank">Truist Financial Corporation</a>, is an American bank holding company. I started my role in June of 2018 and we merged with Suntrust to form Truist in December of 2019.
  </p>

  <p>
    I was put on one of the retail web teams where we focused on accessibility and user-centered design for our enterprise platform, U. We designed with careful consideration for business requirements, user feedback and usability findings. One day, my product owner came to me and explained an issue we were having with users not being able to find certain features from the account details page. Customer service was being called because the users were unable to find account settings, order checks and other links. 
  </p>

  <figure>
    <img src="/assets/images/bbt1.png" alt="bbt account details image" class="case-study-img"/>
    <figcaption>See if you can find the specific account settings</figcaption>
  </figure>

  <p>
    The account settings that individuals were trying to find was specifc to the account that was selected and not your entire profile settings, which you could find in profile &amp; settings in the navigation. If you cannot find it, you would click on Manage Account on the right rail with the account links. The first recommendation I suggested was to make a content change. If the content does not tell you what you are clicking on, chances are the content is wrong. For alignment and consistency, that recommendation fell through the cracks. My second recommendation was to put secondary text under the account. 
  </p>

  <figure>
    <img src="/assets/images/bbt2.png" alt="bbt account details image" class="case-study-img"/>
    <figcaption>Where do you order checks?</figcaption>
  </figure>

  <p>
    This recommendation was tested with users and came back as a successful solutions. User testing came back and told use with secondary text, we could direct the user wherever they needed to go. 
  </p>
</div>