@import '../../src/styles.scss';

hr {
  background: $black;
  border-style: none;
  height: 3px;
}

h2, h3, h4, h5, h6 {
  font-size: 1.2em;
}

h1 {
  margin-bottom: 1em;
}

h5 {
  margin-top: 0;
}

h6 {
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 2em;
  margin: 2em 0;
}

.color-scheme-list {
  list-style: none;
  margin: 1em 0 4em 0;
  padding: 0;

   li {
    display: inline-block;
    width: 33.33%;
    height: 5px;
  }
}

