<h3 class="other-pages">Workshop</h3>

<div class="container">
  <div class="u-full-width grayscale-hover">
    <h2>2021</h2><hr/>

    <est-workshop-blurb
      projectTitle="FindCenter"
      projectTag="Product Designer"
      projectImgSrc="findcenterland.png"
      projectImgAlt="Find Center Image"
      projectLink="findcenter"
    >
    </est-workshop-blurb>

    <est-workshop-blurb
      projectTitle="What Is Cycling"
      projectTag="Creator"
      projectImgSrc="whatiscyclingland.png"
      projectImgAlt="What Is Cycling Image"
      projectLink="whatiscycling"
    >
    </est-workshop-blurb>
  </div>

  <div class="u-full-width grayscale-hover">
    <h2>2020</h2><hr/>

    <est-workshop-blurb
      projectTitle="Tapples"
      projectTag="Product Designer"
      projectImgSrc="tapplesland.jpg"
      projectImgAlt="Tapples Landing Image"
      projectLink="tapples"
    >
    </est-workshop-blurb>

    <est-workshop-blurb
      projectTitle="Truist Retail Web"
      projectTag="UI"
      projectImgSrc="truistland.png"
      projectImgAlt="Truist Retail Web Image"
      projectLink="truist"
    >
    </est-workshop-blurb>
  </div>

  <div class="u-full-width grayscale-hover">
    <h2>2019</h2><hr/>

    <est-workshop-blurb
      projectTitle="BB&amp;T"
      projectTag="UI Designer"
      projectImgSrc="bbtland.png"
      projectImgAlt="Pilot Pale Ale Image"
      projectLink="bbt"
    >
    </est-workshop-blurb>

    <est-workshop-blurb
      projectTitle="Fixie"
      projectTag="Mobile Designer"
      projectImgSrc="fixieland.jpg"
      projectImgAlt="Fixie Landing Image"
      projectLink="fixie"
    >
    </est-workshop-blurb>
  </div>

  <div class="u-full-width grayscale-hover">
    <h2>2018</h2><hr/>

    <!-- <est-workshop-blurb
      projectTitle="Pilot Pale Ale"
      projectTag="Designer"
      projectImgSrc="pilot.jpg"
      projectImgAlt="Pilot Pale Ale Image"
      projectLink="pilot.html"
    >
    </est-workshop-blurb> -->

    <est-workshop-blurb
      projectTitle="Horizontal Timeline"
      projectTag="UX"
      projectImgSrc="timelineland.jpg"
      projectImgAlt="Horizontal Timeline Image"
      projectLink="timeline"
    >
    </est-workshop-blurb>
  </div>

  <!-- <div class="u-full-width grayscale-hover">
    <h2>2017</h2><hr/>

    <est-workshop-blurb
      projectTitle="Material Design Tabs"
      projectTag="Design/Development"
      projectImgSrc="tabland.jpg"
      projectImgAlt="Material Design Tab Image"
      projectLink="pilot.html"
    >
    </est-workshop-blurb>

    <est-workshop-blurb
      projectTitle="Trailer.."
      projectTag="Product Designer"
      projectImgSrc="trailerland.jpg"
      projectImgAlt="Trailer Image"
      projectLink="pilot.html"
    >
    </est-workshop-blurb>
  </div> -->

  <!-- <div class="u-full-width grayscale-hover">
    <est-workshop-blurb
      projectTitle="Winston Theme"
      projectTag="Design/Development"
      projectImgSrc="winstonland.jpg"
      projectImgAlt="Winston Theme Image"
      projectLink="pilot.html"
    >
    </est-workshop-blurb>

    <est-workshop-blurb
      projectTitle="365 Of Thanks"
      projectTag="Blogger"
      projectImgSrc="365land.jpg"
      projectImgAlt="365 of Thanks Image"
      projectLink="pilot.html"
    >
    </est-workshop-blurb>
  </div> -->

  <div class="u-full-width grayscale-hover">
    <h2>2016</h2><hr/>

    <!-- <est-workshop-blurb
      projectTitle="Foundation Differential"
      projectTag="Design/UX"
      projectImgSrc="foundationland.jpg"
      projectImgAlt="Foundation Differential Image"
      projectLink="pilot.html"
    >
    </est-workshop-blurb> -->

    <est-workshop-blurb
      projectTitle="Established1992.com 2016"
      projectTag="Design/Development"
      projectImgSrc="estland.jpg"
      projectImgAlt="Established1992 dot com Image"
      projectLink="estsixteen"
    >
    </est-workshop-blurb>
  </div>

  <div class="u-full-width grayscale-hover">
    <h2>2015</h2><hr/>

    <est-workshop-blurb
      projectTitle="OD Move"
      projectTag="Design/UX"
      projectImgSrc="odmoveland.jpg"
      projectImgAlt="OD Move Image"
      projectLink="odmove"
    >
    </est-workshop-blurb>
  </div>

  <div class="u-full-width grayscale-hover">
    <h2>2014</h2><hr/>

    <est-workshop-blurb
      projectTitle="ODFL"
      projectTag="UI/UX/Design"
      projectImgSrc="odflland.jpg"
      projectImgAlt="ODFL Image"
      projectLink="odfl"
    >
    </est-workshop-blurb>
  </div>

  <div class="u-full-width grayscale-hover">
    <h2>2013</h2><hr/>

    <est-workshop-blurb
      projectTitle="Meat Camp Church"
      projectTag="Wordpress"
      projectImgSrc="meatcampland.jpg"
      projectImgAlt="Meat Camp Church Image"
      projectLink="meatcampchurch"
    >
    </est-workshop-blurb>
  </div>
</div>
