h1, h2, h3, h4, h5, h6 {
  font-family: gt_walsheim_regular;
  font-weight: 600;
  color: $black;
}

h1 {
  font-size: 1.25em;
  margin-bottom: 3em;

  &.center {
    font-size: 4em !important;
    margin-top: 2em;
  }
}

h3.donde-esta {
  border-top: 10px solid $black;
  font-size: 8em;
  line-height: 8em;
  margin-top: 2em;
  text-align: left;
}

a {
  background: $active;
  color: $black;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $black;
    box-shadow:
      1px 1px $black,
      2px 2px $black,
      3px 3px $black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  line-height: 2.5em;

  .tiny {
    font-weight: 100;
  }
}

.tools {
  font-size: 1.4em;
}

@media (max-width: 500px) {
  h3.donde-esta {
    border-top: 10px solid $black;
    font-size: 3em;
    line-height: 3em;
    margin-top: 2em;
    text-align: left;
  }
}