<est-project-entry
  projectTitle="FindCenter"
  projectLink="https://www.findcenter.com/"
  projectLinkName="View FindCenter"
  projectYear="2021"
>
  <ul class="color-scheme-list">
    <li style="background: #B14E27"></li>
    <li style="background: #4264A4"></li>
    <li style="background: #FFF8EF"></li>
  </ul>
</est-project-entry>

<div class="clear"></div>

<div class="row">
  <p class="entry">
    At FindCenter, I was the only Experience Designer on the team. That gave me a lot of opportunities and put me into a position of driving the direction for the web platform.
  </p>

  <p>
    The website was already built and had a pre-set of styles so I would work on the site iteratively to work out user experience issues and update the patterns of the site. The tools I would use on a regular basis was Figma, Adobe Photoshop, Adobe Illustrator, Zeplin and if we had to create a how-to video, Premiere Rush. Here is what the home page looked like after a few iterative designs based on user feedback.
  </p>

  <img src="/assets/images/findcenter1.jpg" alt="findcenter website" class="max-img" />

  <p>
    I not only worked on the entire site, I also worked on marketing campaigns and helped design landing pages that would convert sign ups for the platform. For the landing pages, we had an awesome designer create the illustrations and I incorporated them into the design to make relatable visuals and key pieces of information to increase sign up.
  </p>

  <figure class="est-margin-bottom-lg">
    <img src="/assets/images/findcenter2.jpg" alt="findcenter landing page image" />
    <figcaption>FindCenter Landing Page 1</figcaption>
  </figure>

  <figure class="est-margin-bottom-lg">
    <img src="/assets/images/findcenter3.jpg" alt="findcenter landing page image" />
    <figcaption>FindCenter Landing Page 2</figcaption>
  </figure>
</div>
