@import '../../src/styles.scss';

h1.mi-nombre {
  font-size: 9.25rem;
  margin-bottom: -5rem;
  position: relative;
  z-index: 2;
}

img.foto-de-viaje {
  width: 75%;
  height: auto;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
  line-height: 6rem;

  &.donde-esta {
    border-top: 10px solid $black;
    font-size: 8rem;
    line-height: 8rem;
    margin-top: 35%;
    text-align: right;
  }
}

h4 {
  font-size: 3rem;
  line-height: 5rem;

  &.bicicletas {
    border-top: 10px solid $black;
    font-size: 8rem;
    line-height: 8rem;
    margin-top: 35%;
    text-align: left;
  }
}

img.foto-de-bicicletas {
  width: 50%;
  height: auto;
  float: right;
  margin-bottom: -10rem;
  padding-left: 2rem;
  padding-bottom: 9rem;
}

h5 {
  font-size: 3rem;
  line-height: 5rem;
  width: 75%;

  &.contacto {
    border-top: 10px solid $black;
    font-size: 8rem;
    line-height: 8rem;
    margin-top: 35%;
    text-align: center;
    width: 100%;
  }
}

.datos-de-contacto {
  clear: both;
  font-size: 6rem;
  line-height: 10rem;
  text-align: center;
}

@media (max-width: 500px) {
  h1.mi-nombre {
    font-size: 4rem;
    margin-bottom: -1.5rem;
    position: relative;
    z-index: 2;
  }
  
  img.foto-de-viaje {
    width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
    line-height: 4rem;
  
    &.donde-esta {
      border-top: 10px solid $black;
      font-size: 3rem;
      line-height: 4rem;
      margin-top: 35%;
      text-align: right;
    }
  }
  
  h4 {
    font-size: 2rem;
    line-height: 4rem;
  
    &.bicicletas {
      border-top: 10px solid $black;
      font-size: 3rem;
      line-height: 4rem;
      margin-top: 35%;
      text-align: left;
    }
  }
  
  img.foto-de-bicicletas {
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: -6rem;
    padding-left: 2rem;
    padding-bottom: 9rem;
  }
  
  h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 75%;
  
    &.contacto {
      border-top: 10px solid $black;
      font-size: 3rem;
      line-height: 4rem;
      margin-top: 35%;
      text-align: center;
      width: 100%;
    }
  }
  
  .datos-de-contacto {
    clear: both;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
  }
}