@import '../../src/styles.scss';

h1.mi-nombre {
  font-size: 9.25em;
  margin-bottom: -1em;
  position: relative;
  z-index: 2;
}

img.foto-de-viaje {
  width: 75%;
  height: auto;
}

h2 {
  font-size: 6em;
}

h3 {
  font-size: 4em;
  line-height: 1.5;

  &.donde-esta {
    border-top: 10px solid $black;
    font-size: 8em;
    margin-top: 35%;
    text-align: left;
  }
}

h4 {
  font-size: 3em;
  line-height: 1.5;

  &.bicicletas {
    border-top: 10px solid $black;
    font-size: 8em;
    margin-top: 35%;
    text-align: left;
  }
}

img.foto-de-bicicletas {
  width: 50%;
  height: auto;
  float: right;
  margin-bottom: -10em;
  padding-left: 2em;
  padding-bottom: 9em;
}

h5 {
  font-size: 3em;
  width: 75%;

  &.contacto {
    border-top: 10px solid $black;
    font-size: 8em;
    margin-top: 35%;
    text-align: center;
    width: 100%;
  }
}

.datos-de-contacto {
  clear: both;
  font-size: 6em;
  line-height: 2em;
  text-align: center;
}

@media (max-width: 1024px) {
  h1.mi-nombre {
    font-size: 6em;
    margin-bottom: -.5em;
  }

  h2 {
    font-size: 4em;
  }

  h3 {
    font-size: 3em;
  }

  h3.donde-esta {
    font-size: 5em;
  }

  h4.bicicletas {
    font-size: 5em;
  }

  h5.contacto {
    font-size: 5em;
  }

  .datos-de-contacto {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  h1.mi-nombre {
    font-size: 4em;
    margin-bottom: -1.5em;
    position: relative;
    z-index: 2;
  }
  
  img.foto-de-viaje {
    width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 3em;
  }
  
  h3 {
    font-size: 2em;
    line-height: 1.5em;
  
    &.donde-esta {
      border-top: 10px solid $black;
      font-size: 3em;
      line-height: 1.5em;
      margin-top: 35%;
      text-align: right;
    }
  }
  
  h4 {
    font-size: 2em;
    line-height: 1.5em;
  
    &.bicicletas {
      border-top: 10px solid $black;
      font-size: 3em;
      line-height: 1.5em;
      margin-top: 35%;
      text-align: left;
    }
  }
  
  img.foto-de-bicicletas {
    width: 100%;
    height: auto;
    float: right;
    margin-bottom: -6em;
    padding-left: 2em;
    padding-bottom: 9em;
  }
  
  h5 {
    font-size: 1em;
    line-height: 1.5em;
    width: 75%;
  
    &.contacto {
      border-top: 10px solid $black;
      font-size: 3em;
      line-height: 1.5em;
      margin-top: 35%;
      text-align: center;
      width: 100%;
    }
  }
  
  .datos-de-contacto {
    clear: both;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
  }
}