@import '../../src/styles.scss';

#desktop {
  height: auto;
  width: $est-percent-100;
  max-width: 600px;
  background: rgba(191, 191, 191, 0.7);
  padding-bottom: 15px;
  margin: 0 auto;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

.desktop-circles {
  list-style: none;
  margin: 0 0 5px 5px;
  padding: 0;
}

.desktop-circles>li {
  display: inline-block;
  margin-right: 1px;
}

li.circular-corner {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

a.left-vert {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  display: inline-block;
  float: left;
  margin-top: -250px;
}

a.right-vert {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  float: right;
  margin-top: -250px;
}

@media (max-width: 915px) {
  #desktop {
    margin-bottom: 1em;
  }
  a.left-vert {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    display: inline-block;
    float: left;
    margin-top: 0;
  }
  a.right-vert {
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    display: inline-block;
    float: right;
    margin-top: 0;
  }
  a.right-vert>i.fa-long-arrow-left {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    display: inline-block;
    float: right;
    margin-left: 4px;
    margin-top: 3px;
  }
}

@media (max-width: 428px) {
  a.left-vert, a.right-vert {
    width: auto;
    padding: 12px 5px;
  }
}

@media (max-width: 630px) {
  .contact-info {
    font-size: 5vw;
  }
  .social-icons a {
    margin-right: 0.4em;
    font-size: 2rem;
    text-decoration: none;
  }
  .sbreak {
    height: 100px;
    margin-bottom: 100px;
  }
  .nbreak {
    margin-bottom: 50px;
  }
}