<h1 class="mi-nombre">Elijah Townsend</h1>
<img src="../../assets/images/mountains.jpg" alt="elijah in colorado" class="foto-de-viaje">

<h2>Good <span>morning</span>! I am a technical product designer and an ultra endurance cyclist. My mission is to turn creative ideas into user centered experiences.</h2>

<h3 class="donde-esta">Where are you now?</h3>

<h3>I currently work at <a href="https://www.truist.com/" target="_blank">Truist</a>, the bank that formed due to the BB&amp;T and Suntrust merger, as a Senior Experience Designer. We have been working hard to create a better interaction for our clients to their money. If you would like to learn more about my career or a specific job, feel free to <a href="../../assets/Resume-Elijah-Townsend-2021.pdf" target="_blank" role="button">explore my resume</a>.</h3>

<h4 class="bicicletas">Bicycles</h4>

<img src="../../assets/images/colorado-crit.jpg" alt="elijah racing a crit" class="foto-de-bicicletas">

<h4>Outside of work, my faith, my family and cycling are my main focuses. I use the bike as a mode of transportaion but also as my therapist. The bike is a great way to challenge yourself but also a means to explore in a timely manner. Checkout my cycling project <a href="https://www.whatiscycling.com/" target="_blank">What Is Cycling</a>. This project is a multi episode video series featuring individuals from the cycling community, showcasing the different types of cyclists and reasons for riding that bring us together.</h4>

<h5 class="contacto">Will Work For Food</h5>

<div class="datos-de-contacto" role="list">
  <a href="tel:828-773-9730" role="listitem">(828) 773-9730</a><br/>
  <a href="mailto:info@established1992.com?subject=Holla at me!" role="listitem">info@established1992.com</a><br/>
  <a href="https://www.behance.net/est1992" target="_blank" role="listitem">behance</a><br/>
  <a href="https://codepen.io/Eli-townsend" target="_blank" role="listitem">codepen</a><br/>
  <a href="https://dribbble.com/ElijahTownsend" target="_blank" role="listitem">dribbble</a><br/>
  <a href="https://github.com/eli-townsend" target="_blank" role="listitem">github</a><br/>
  <a href="https://www.linkedin.com/in/elijah-townsend-55017b50" target="_blank" role="listitem">linkedIn</a><br/>
  <a href="https://www.instagram.com/elijahtownsend/" target="_blank" role="listitem">instagram</a><br/>
  <a href="https://www.youtube.com/channel/UCQdGEVHOpor7xQ-HyLRFY5A" target="_blank" role="listitem">youtube</a>
</div>
