<est-project-entry
  projectTitle="Tapples"
  projectLink="https://www.whatiscycling.com/"
  projectLinkName="View on Behance"
  projectYear="2020"
>
  <ul class="color-scheme-list">
    <li style="background: #04adb1"></li>
    <li style="background: #34616b"></li>
    <li style="background: #d04a25"></li>
  </ul>
</est-project-entry>
      
<div class="clear"></div>

<div class="row">
  <p>
    Here is a concept of a mobile banking app. Everyone starts out with the same account and depending on your financial stability, you will be placed into the next tier. This gives banking a gamification aspect and allows the bank to teach the user to be more financially minded. Once the user completes the task to move into the next tier, it gives the bank the opportunity to celebrate with the user for making the proper financial moves. Having a tiered system is great for showing the user where they came from and what steps they need to take to keep making advances towards a better financial future.
  </p>

  <img src="/assets/images/tapples/tapples1.png" alt="tapples image one" class="max-img" />
  <img src="/assets/images/tapples/tapples2.png" alt="tapples image two" />
  <img src="/assets/images/tapples/tapples3.png" alt="tapples image three" />
  <img src="/assets/images/tapples/tapples4.png" alt="tapples image four" >
  <img src="/assets/images/tapples/tapples5.png" alt="tapples image five" />
  <img src="/assets/images/tapples/tapples6.png" alt="tapples image six" />
  <img src="/assets/images/tapples/tapples7.png" alt="tapples image seven" />
</div>