@media (min-width: 400px) {
  .cross {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1em;
    padding-bottom: 1em;
    font-family: fantasy;
    font-size: 24px;
  }
}

@media (max-width: 630px) {
  .cross {
    padding-right: 1em;
    padding-bottom: 1em;
    width: 75px;
    height: auto;
    margin: 0 auto;
  }
}