<blog-header postTitle="Future Proof Your Company"></blog-header>

<div class="row">
  <div class="twelve columns blog-content">
    <p>Not even five years ago I was designing mobile-first applications with the idea that employees could use their enterprise apps wherever they needed to connect to work. This way, work wasn’t dependent on where you were but accessible anywhere. I got pushback from stakeholders claiming the time would never come where that sort of product was needed or, even better, was told “we aren’t that kind of company.”</p>

    <p>Well, guess what time has come? And how many companies are now needing to be that company—the company that lets individuals work remote without having to worry about losing their jobs or not getting paid.</p>

    <p>Unfortunately, this pandemic is showing us why companies need to start taking design and development seriously. It’s why designers, developers and all other roles should take their work seriously, day in and day out. Each day when we walk into the office, we should be giving our best effort to future-proof the technology we’re using and protect ourselves from disasters. We may be speaking with confidence and wisdom now but do we really know what is going to happen in the future?</p>

    <p>Plan for the future. Invest in your employees. Create solutions before they are needed.</p>
  </div>
</div>