<est-project-entry
  projectTitle="OD Move"
  projectLink="https://www.odmove.com/ODMove/"
  projectLinkName="odmove.com"
  projectYear="2015"
>
  <ul class="color-scheme-list">
    <li style="background: #25a35a"></li>
    <li style="background: #4d4d4d;"></li>
    <li style="background: #999999"></li>
  </ul>
</est-project-entry>
      
<div class="clear"></div>

<div class="row">
  <p>
    While working at Old Dominion Freight Line, the business had a need for a customer facing website to be created. The new site is an open into a new market which will bring in more revenue for the company. Being the lead designer for this project, I was able to meet with the business to obtain specs and ask questions about how the site and business were going to work together. In meeting with the business, we had to distinguish what the requirements were while meeting with users to validate the user experience we had designed. One key improvement towards the initial process was by investigating, researching, and testing our Instant Estimate. We white boarded different scenarios but ultimately created a great product by simplifying this process for a decrease of 50% of user clicks to get through the entire Instant Estimate.
  </p>

  <img src="/assets/images/odmove.jpg" alt="full image of odmove.com" width="1024px" height="5264px" class="max-img" />
</div>