// Tokens
$white: #FFFFFF;
$black: #000000;
$base: #BFBFBF;
$active: #ffff00;
$light-grey: #CCCCCC;
$est-percent-100: 100%;

// Main Font
@font-face {
  font-family: 'gt_walsheim_regular';
  src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot');
  src: url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.eot"?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.woff') format('woff'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.ttf') format('truetype'), url('https://s3.amazonaws.com/cocoapods/fonts/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: $white;
  color: $light-grey;
  font-family: gt_walsheim_regular;
  padding: 1em 2em;
  margin: 0;
  word-wrap: break-word;
}

.container {
  background: $white;
  border-radius: 5px;
  box-sizing: border-box;
  color: $black;
  font-family: gt_walsheim_regular;
  font-size: 1.1rem;
  font-weight: 200;
  height: auto;
  margin: 0 auto;
  padding: 1em;
  width: $est-percent-100;
}

/*** SECTIONS ***/

.center-row {
  position: relative;
  max-width: 80%;
  height: auto;
  margin: 2rem auto;
  padding-bottom: 1em;
  text-align: center;
}

.center {
  text-align: center;
}

a.button-white {
  border: 2px solid $black;
  background: $white;
  color: $active;
  width: auto;
  padding: 12px 20px;
  border-radius: 5px;
}

button, a.button {
  background: $white;
  border: 5px solid $black;
  color: $black;
  width: auto;
  padding: 12px 20px;
  border-radius: 5px;
  text-decoration: none;
}

button:hover, a.button:hover {
  background: $black;
  color: $white;
}

a.button.secondary {
  background: $active;
  color: $black;
  width: auto;
  padding: 12px 20px;
  border-radius: 5px;
}

a.button.secondary:hover {
  background: $active;
  color: $black;
}


/*** WORKSHOP ***/

.color-scheme-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.color-scheme-list>li {
  display: inline-block;
  margin-right: 10px;
}

li.circular-color {
  border-radius: 50%;
  border: 1px solid $black;
  width: 50px;
  height: 50px;
}


/*** MEDIA ***/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: $est-percent-100;
  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  z-index: 99999;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: $est-percent-100;
  width: $est-percent-100;
  height: 10px;
  background: $active;
  pointer-events: none;
}

.social-icons a {
  margin-right: 0.4em;
  font-size: 2.3rem;
  text-decoration: none;
}

.social-icons a:last-child {
  margin-right: 0;
}

img {
  width: $est-percent-100;
  height: auto;
}

img.max-img {
  margin-top: 100px;
  border-top: 3px solid $black;
}

.grayscale-hover>.one-half.columns {
  margin-bottom: 2em;
}

.grayscale-hover img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: $est-percent-100;
  height: auto;
}

.grayscale-hover img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}


/*** TYPOGRAPHY/LINKS ***/

h1, h2, h3, h4, h5, h6 {
  font-family: gt_walsheim_regular;
  font-weight: 600;
  color: $black;
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 3em;

  .center {
    margin-top: 2em;
  }

  .process-header {
    margin-bottom: 1em;
    margin-top: 3em;
    text-align: center;
  }
}

a {
  background: $active;
  color: $black;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $black;
    box-shadow:
            1px 1px $black,
            2px 2px $black,
            3px 3px $black;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
}

p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  line-height: 1.8rem;

  .tiny {
    font-weight: 100;
  }
}


/*** BLOG ***/

// .blog-post{
//   margin-bottom: 80px;
// }

// .blog-post > p{
//     margin-bottom: 30px;
// }

// span.blog-date{
//   font-size: 60%;
//   float: right;
// }

// .blog-content{
//   margin-bottom: 50px;
// }

// @media(max-width: 680px){
//   span.blog-date{
//     font-size: 60%;
//     float: none;
//     display: block;
//   }
// }

/*** CODE ***/

code{
  background: #eee; 
  color:#3b3b3b; 
  border-radius: 3px; 
  padding: 2px 6px;
}

p > code.block{
  display: block;
  color: #209ddb;
  background: #333;
  width: 100%; 
  height:auto; 
  margin: 15px 0;
  padding:15px 5px;
}
p > code span.tag{
  color: #6BF178;
}
p > code span.property{
  color: #F2DD6E;
}

.contact-info {
  font-size: 4vw;
  line-height: 1.5em;
  text-align: right;
}

@media (max-width: 550px) {
  .one-half.columns {
    margin-bottom: 0;
    text-align: center;
    border-radius: 5px;
  }
}


/* Larger than mobile */

@media (min-width: 400px) {
  .one-half.columns {
    margin-bottom: 0;
    text-align: center;
  }
}

@media (max-width: 630px) {
  .contact-info {
    font-size: 5vw;
  }
  .social-icons a {
    margin-right: 0.4em;
    font-size: 2rem;
    text-decoration: none;
  }
  .sbreak {
    height: 100px;
    margin-bottom: 100px;
  }
  .nbreak {
    margin-bottom: 50px;
  }
}

@media(max-width: 675px){
  .video{
    width: $est-percent-100;
    height: auto;
  }
  .video .video-overlay {
    display: none;
    justify-content: center;
    align-items: center;
  }
}

.row {
  position: relative;
  width: $est-percent-100;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.column, .columns {
  width: $est-percent-100;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  .row {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .row {
    width: 80%;
  }
  .column, .columns {
    margin-left: 4%;
    height: auto;
  }
  .column:first-child, .columns:first-child {
    margin-left: 0;
  }
  .one.column, .one.columns {
    width: 4.66666666667%;
  }
  .two.columns {
    width: 13.3333333333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 39.3333333333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.6666666667%;
  }
  .eight.columns {
    width: 65.3333333333%;
  }
  .nine.columns {
    width: 74.0%;
  }
  .ten.columns {
    width: 82.6666666667%;
  }
  .eleven.columns {
    width: 91.3333333333%;
  }
  .twelve.columns {
    width: $est-percent-100;
    margin-left: 0;
  }
  .one-third.columns {
    width: 30.6666666667%;
  }
  .two-thirds.columns {
    width: 65.3333333333%;
  }
  .one-half.columns {
    width: 49.99999%;
    margin-left: 0;
    text-align: center;
  }
}

.u-full-width {
  width: $est-percent-100;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: $est-percent-100;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

@media (min-width: 400px) {
  .one-half.columns {
    margin-left: 0;
    margin-bottom: 60px;
    text-align: center;
  }
}
