.blog-post{
  margin-bottom: 80px;
}

.blog-post > p{
    margin-bottom: 30px;
}

span.blog-date{
  font-size: 60%;
  float: right;
}

.blog-content{
  margin-bottom: 50px;
}

@media(max-width: 680px){
  span.blog-date{
    font-size: 60%;
    float: none;
    display: block;
  }
}